@font-face {
  font-family: 'gotham_light';
  src: url('/assets/fonts/gotham-light-webfont.eot');
  src: url('/assets/fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/gotham-light-webfont.woff') format('woff'), url('/assets/fonts/gotham-light-webfont.ttf') format('truetype'), url('/assets/fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_slab500';
  src: url('/assets/fonts/museo-slab-500-webfont.eot');
  src: url('/assets/fonts/museo-slab-500-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/museo-slab-500-webfont.woff2') format('woff2'), url('/assets/fonts/museo-slab-500-webfont.woff') format('woff'), url('/assets/fonts/museo-slab-500-webfont.ttf') format('truetype'), url('/assets/fonts/museo-slab-500-webfont.svg#museo_slab500') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.font_heading {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}
.font_primary {
  font-family: "museo_slab500", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}
html {
  height: 100%;
  min-height: 100%;
  background: #eee;
}
body {
  height: 100%;
  font-family: "museo_slab500", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  min-width: 840px;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.content-block {
  padding: 30px 0 30px 250px;
}
.content-block.callout {
  padding: 30px 125px;
}
.content-block.callout h1 {
  text-align: center;
  padding-bottom: 20px;
}
.content-block.callout h2 {
  text-align: center;
  padding-bottom: 20px;
}
.content-block.flip {
  padding-right: 250px;
  padding-left: 0;
}
.content-block .dedent {
  float: left;
  margin-left: -250px;
  width: 220px;
}
.content-block.flip .dedent {
  float: right;
  margin-right: -250px;
  margin-left: 0;
}
.content-block h3,
.content-block h4 {
  padding: 10px 0 5px 0;
}
.column {
  width: 450px;
  padding: 0 15px;
  float: left;
}
.column.short {
  width: 410px;
}
.column h3 {
  padding-bottom: 35px;
}
.column .indented {
  padding-left: 170px;
}
.column .indented h5 {
  float: left;
  margin-left: -170px;
  width: 150px;
}
.note {
  display: block;
  font-size: 14px;
  font-style: italic;
  padding-right: 15px;
  color: #777;
}
.navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.85);
}
#content {
  padding: 50px 0 35px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  line-height: 1.2;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h3 em {
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  padding: 8px 0 0 0;
  color: #477e8d;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
p {
  padding-bottom: 20px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {
  color: #4178ac;
  text-decoration: none;
}
a:hover {
  color: #555;
}
.navigation ul {
  text-align: center;
  line-height: 1;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li.home {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  margin-right: 15px;
  padding-top: 16px;
  font-size: 26px;
  color: #333;
}
.navigation ul li.active a {
  color: #4178ac;
  border-bottom: 4px solid #4178ac;
}
.navigation ul li a {
  display: block;
  color: #555;
  padding: 22px 25px 14px 25px;
}
.navigation ul li a:hover {
  color: #4178ac;
  border-bottom: 4px solid #aaa;
}
body.home #intro {
  background: #808d92 url(/images/bg-ice-cream.jpg) no-repeat 50% 0;
  background-size: cover;
  height: 500px;
}
body.home #story {
  background: #ffffff url(/images/layout/texture/light.png);
  background-size: 150px 150px;
  padding: 20px 0 30px 0;
  border-bottom: 5px solid #ddd;
}
body.home #content {
  background: #f4f4f4;
}
body.day #intro {
  background: #0a1f31 url(/images/bg.jpg) no-repeat 50% 20%;
  background-size: cover;
  height: 500px;
}
body.day #intro.blanc {
  background: #959ca8 url(/images/bg-blanc.jpg) no-repeat 50% 50%;
  background-size: cover;
}
body.day #content {
  padding: 0;
  background: #f4f4f4;
}
body.day #content h1 {
  text-align: center;
  color: #2f4a5f;
  padding-bottom: 35px;
}
body.day #content .ceramony {
  padding: 50px 0 35px 0;
  background: #ffffff url(/images/layout/texture/light.png);
  background-size: 150px 150px;
}
body.day #content .guest-information {
  padding: 50px 0;
  border-top: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
  text-align: center;
}
body.day #content .guest-information h2 {
  padding: 0 0 20px 0;
}
body.day #content .guest-information h5 {
  padding: 5px 0 12px 0;
}
body.day #content .party {
  clear: both;
  padding: 50px 0;
  background: #fff;
}
body.day #content .party .column {
  text-align: center;
}
body.day #content .party .column img {
  margin-bottom: 15px;
}
body.day #content .party .column h4 {
  padding: 0 0 12px 0;
}
body.day #content .party .column ul {
  padding-bottom: 35px;
}
body.day #content .party .column ul li {
  list-style: none;
}
body.day #content .party .column ul li.highlight {
  padding-bottom: 12px;
}
body.day #content .party .column ul li strong {
  display: block;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}
body.denver #intro {
  background: #0a1f31 url(/images/bg-dark.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 500px;
}
body.denver #content {
  padding: 0;
}
body.denver #content .stay {
  padding: 20px 0 0 0;
  background: #ffffff url(/images/layout/texture/light.png);
  background-size: 150px 150px;
}
body.denver #content .hotel {
  padding: 25px 0 5px 0;
  background: #fff;
}
body.denver #content .hotel.curtis {
  background: #f4f4f4;
}
body.denver #content .hotel .dedent span {
  display: block;
  font-size: 14px;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: bold;
  color: #888;
}
body.denver #content .hotel .dedent a {
  display: block;
  padding-top: 5px;
  font-size: 14px;
}
body.denver #content .hotel .pics {
  text-align: center;
  padding: 15px 0 30px 0;
}
body.denver #content .hotel .pics a img {
  cursor: zoom-in;
}
body.denver #content .hotel .pics a.showing img {
  cursor: zoom-out;
}
body.denver #content .hotel .request {
  float: right;
  font-style: italic;
  color: #777;
  padding: 0 15px 0 0;
}
body.denver #content .hotel p .room {
  display: inline-block;
  width: 210px;
}
body.denver #content .city {
  padding: 30px 0 40px 0;
  background: #44567f url(/images/bg-denver.jpg) no-repeat 50% 0%;
  background-size: cover;
}
body.denver #content .city h2 {
  font-size: 38px;
  color: #fff;
  padding: 0 0 30px 0;
}
body.denver #content .city .highlight {
  margin: 0;
  padding: 30px 42px 4px 42px;
  background: rgba(0, 0, 0, 0.7);
  color: #ddd;
}
body.denver #content .city .highlight ul {
  padding: 0 0 20px 15px;
  width: 30%;
  float: left;
}
body.denver #content .city .highlight ul li.title {
  margin-left: -15px;
  list-style: none;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  font-size: 18px;
}
body.denver #content .city .highlight ul li {
  font-size: 15px;
  padding-bottom: 15px;
}
body.denver #content .city .highlight ul li span {
  display: block;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
}
body.denver #content .city .highlight ul li span em {
  font-size: 13px;
  text-transform: none;
  display: block;
}
