@font-face {
  font-family: 'gotham_light';
  src: url('/assets/fonts/gotham-light-webfont.eot');
  src: url('/assets/fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/gotham-light-webfont.woff') format('woff'), url('/assets/fonts/gotham-light-webfont.ttf') format('truetype'), url('/assets/fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_slab500';
  src: url('/assets/fonts/museo-slab-500-webfont.eot');
  src: url('/assets/fonts/museo-slab-500-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/museo-slab-500-webfont.woff2') format('woff2'), url('/assets/fonts/museo-slab-500-webfont.woff') format('woff'), url('/assets/fonts/museo-slab-500-webfont.ttf') format('truetype'), url('/assets/fonts/museo-slab-500-webfont.svg#museo_slab500') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.font_heading {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}
.font_primary {
  font-family: "museo_slab500", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}
html {
  height: 100%;
  min-height: 100%;
  background: #eee;
}
body {
  height: 100%;
  font-family: "museo_slab500", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  min-width: 840px;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.content-block {
  padding: 30px 30px 30px 250px;
}
.content-block.callout {
  padding: 30px 125px;
}
.content-block.callout h1 {
  text-align: center;
  padding-bottom: 20px;
}
.content-block.callout h2 {
  text-align: center;
  padding-bottom: 20px;
}
.content-block.flip {
  padding-right: 250px;
  padding-left: 30px;
}
.content-block .dedent {
  float: left;
  margin-left: -220px;
  width: 200px;
}
.content-block.flip .dedent {
  float: right;
  margin-right: -220px;
  margin-left: 0;
  text-align: right;
}
.content-block h3,
.content-block h4 {
  padding: 10px 0 5px 0;
}
.column {
  width: 450px;
  padding: 0 15px;
  float: left;
}
.column.short {
  width: 410px;
}
.column h3 {
  padding-bottom: 35px;
}
.column .indented {
  padding-left: 170px;
}
.column .indented h5 {
  float: left;
  margin-left: -170px;
  width: 150px;
}
.note {
  display: block;
  font-size: 14px;
  font-style: italic;
  padding-right: 15px;
  color: #777;
}
.navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.85);
}
#content {
  padding: 50px 0 35px 0;
}
strong {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  line-height: 1.2;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h3 em {
  display: block;
  font-size: 18px;
  font-style: normal;
  padding: 8px 0 0 0;
  color: #477e8d;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
p {
  padding-bottom: 20px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {
  color: #4178ac;
  text-decoration: none;
}
a:hover {
  color: #555;
}
.navigation ul {
  text-align: center;
  line-height: 1;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li.home {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  margin-right: 15px;
  padding-top: 16px;
  font-size: 26px;
  color: #333;
  cursor: pointer;
}
.navigation ul li.active a {
  color: #4178ac;
  border-bottom: 4px solid #4178ac;
}
.navigation ul li a {
  display: block;
  color: #555;
  padding: 22px 25px 14px 25px;
}
.navigation ul li a:hover {
  color: #4178ac;
  border-bottom: 4px solid #aaa;
}
.designed {
  background: #333;
  font-size: 12px;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  padding: 15px 32px;
  text-transform: uppercase;
  text-align: center;
  color: #aaa;
}
.designed strong {
  display: inline-block;
  padding: 0 8px;
  color: #fff;
}
.designed em {
  font-size: 16px;
  color: #bd3622;
  padding: 0 2px;
}
.designed a {
  color: #83afd8;
}
.designed a:hover {
  color: #eee;
}
body.home #intro {
  background: #808d92 url(/images/bg-ice-cream.jpg) no-repeat 50% 0;
  background-size: cover;
  height: 500px;
}
body.home #story {
  background: #ffffff url(/images/texture/light.png);
  background-size: 150px 150px;
  padding: 15px 0 0 0;
}
body.home #story .clarity {
  padding: 0 25px 25px 25px;
  font-style: italic;
  color: #888;
  text-align: center;
}
body.home #content {
  background: #f4f4f4;
}
body.home #content .content-block {
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}
body.home #content .content-block:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
body.home #gallery {
  padding: 60px 0 100px 0;
  background: #dddddd url(/images/texture/footprint.png);
  border-top: 5px solid #ddd;
}
body.home #gallery h2 {
  text-align: center;
  padding: 0 0 30px 0;
  color: #777;
}
body.home #gallery .credit {
  padding: 12px 0 0 0;
  font-size: 16px;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}
body.home #gallery .credit span {
  float: left;
}
body.home #gallery .credit em {
  font-size: 11px;
  float: right;
  font-style: normal;
  color: #888;
  text-transform: uppercase;
}
body.home #gallery .caption {
  text-align: center;
  padding: 0 0 35px 0;
  font-size: 16px;
  font-style: italic;
}
body.home #gallery .gallery-holder {
  text-align: center;
}
body.home #gallery .gallery-holder a:hover img {
  background: #ccc;
}
body.home #gallery .gallery-holder img {
  float: left;
  cursor: zoom-in;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.12);
  height: 223px;
}
body.home #gallery .lightbox {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
body.home #gallery .lightbox img.gallery-image {
  cursor: zoom-out;
  display: block;
  margin: 0 auto;
  max-width: 920px;
  max-height: 640px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
body.day #intro {
  background: #b3b3b3 url(/images/bg.jpg) no-repeat 50% 20%;
  background-size: cover;
  height: 500px;
}
body.day #intro.blanc {
  background: #959ca8 url(/images/bg-blanc.jpg) no-repeat 50% 50%;
  background-size: cover;
}
body.day #map {
  border-top: 5px solid #ddd;
  height: 320px;
}
body.day #content {
  padding: 0;
  background: #f4f4f4;
}
body.day #content h1 {
  text-align: center;
  color: #2f4a5f;
  padding-bottom: 35px;
}
body.day #content .ceremony {
  padding: 50px 0 35px 0;
  background: #ffffff url(/images/texture/light.png);
  background-size: 150px 150px;
}
body.day #content .guest-information {
  padding: 50px 0;
  border-top: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
}
body.day #content .guest-information .clarity {
  padding: 0 25px 35px 25px;
  font-style: italic;
  color: #888;
  text-align: center;
}
body.day #content .guest-information h2 {
  padding: 0 0 10px 0;
  text-align: center;
}
body.day #content .guest-information h5 {
  padding: 15px 0 12px 0;
}
body.day #content .guest-information .block {
  padding: 0 200px;
}
body.day #content .party {
  clear: both;
  padding: 50px 0;
  background: #fff;
}
body.day #content .party h2 {
  text-align: center;
}
body.day #content .party .column {
  text-align: center;
  padding: 0 0 0 80px;
  width: 400px;
}
body.day #content .party .column.alt {
  width: 400px;
  padding: 0 80px 0 0;
}
body.day #content .party .column.centered {
  float: none;
  clear: both;
  margin: 0 auto;
  padding: 30px 0 0 0;
}
body.day #content .party .column img {
  margin-bottom: 15px;
}
body.day #content .party .column h4 {
  padding: 0 0 12px 0;
}
body.day #content .party .column ul {
  padding-bottom: 35px;
}
body.day #content .party .column ul li {
  list-style: none;
}
body.day #content .party .column ul li.highlight {
  padding-bottom: 12px;
}
body.day #content .party .column ul li strong {
  display: block;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}
body.day #content .party .column ul li strong span {
  font-size: 10px;
  text-transform: lowercase;
}
body.denver #intro {
  background: #0a1f31 url(/images/bg-dark.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 500px;
}
body.denver #content {
  padding: 0;
}
body.denver #content .stay {
  padding: 20px 0 0 0;
  background: #ffffff url(/images/texture/light.png);
  background-size: 150px 150px;
}
body.denver #content .hotel {
  padding: 25px 0 5px 0;
  background: #fff;
}
body.denver #content .hotel.curtis {
  background: #f4f4f4;
}
body.denver #content .hotel .dedent span {
  display: block;
  font-size: 14px;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  text-transform: uppercase;
  color: #888;
}
body.denver #content .hotel .dedent a {
  display: block;
  padding-top: 5px;
  font-size: 14px;
}
body.denver #content .hotel .pics {
  text-align: center;
  padding: 15px 0 30px 0;
}
body.denver #content .hotel .pics a img {
  cursor: zoom-in;
}
body.denver #content .hotel .pics a.showing img {
  cursor: zoom-out;
}
body.denver #content .hotel .request {
  float: right;
  font-style: italic;
  color: #777;
  padding: 0 15px 0 0;
}
body.denver #content .hotel p .room {
  display: inline-block;
  width: 225px;
}
body.denver #content .hotel p strong {
  font-weight: normal;
}
body.denver #content .city {
  padding: 30px 0 40px 0;
  background: #44567f url(/images/bg-denver.jpg) no-repeat 50% 0%;
  background-size: cover;
}
body.denver #content .city h2 {
  font-size: 38px;
  color: #fff;
  padding: 0 0 30px 0;
}
body.denver #content .city .highlight {
  margin: 0;
  padding: 30px 42px 4px 42px;
  background: rgba(0, 0, 0, 0.7);
  color: #ddd;
}
body.denver #content .city .highlight ul {
  padding: 0 0 20px 15px;
  width: 30%;
  float: left;
}
body.denver #content .city .highlight ul li.title {
  margin-left: -15px;
  list-style: none;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  font-size: 18px;
}
body.denver #content .city .highlight ul li {
  font-size: 15px;
  padding-bottom: 15px;
}
body.denver #content .city .highlight ul li a {
  display: block;
  color: #ddd;
}
body.denver #content .city .highlight ul li a:hover {
  color: #7a8c8a;
}
body.denver #content .city .highlight ul li span {
  display: block;
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
}
body.denver #content .city .highlight ul li span em {
  font-size: 13px;
  text-transform: none;
  display: block;
}
@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .navigation ul li {
    font-size: 24px;
  }
  .navigation ul li a {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
