@font-face {
  font-family: 'gotham_light';
  src: url('/assets/fonts/gotham-light-webfont.eot');
  src: url('/assets/fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/gotham-light-webfont.woff') format('woff'), url('/assets/fonts/gotham-light-webfont.ttf') format('truetype'), url('/assets/fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_slab500';
  src: url('/assets/fonts/museo-slab-500-webfont.eot');
  src: url('/assets/fonts/museo-slab-500-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/museo-slab-500-webfont.woff2') format('woff2'), url('/assets/fonts/museo-slab-500-webfont.woff') format('woff'), url('/assets/fonts/museo-slab-500-webfont.ttf') format('truetype'), url('/assets/fonts/museo-slab-500-webfont.svg#museo_slab500') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.font_heading {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}
.font_primary {
  font-family: "museo_slab500", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}
html {
  height: 100%;
  min-height: 100%;
  background: #eee;
}
body {
  background: #dddddd url(/images/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100%;
  font-family: "museo_slab500", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  color: #444;
  font-size: 16px;
  line-height: 26px;
  min-width: 840px;
}
body.day {
  background-image: url(/images/bg-day.jpg);
}
body.day.blanc {
  background-image: url(/images/bg-blanc.jpg);
}
body.day.blanc #content h2 {
  color: #fff;
}
.navigation {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.85);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
  line-height: 1.2;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
p {
  padding-bottom: 15px;
}
a {
  color: #4178ac;
  text-decoration: none;
}
a:hover {
  color: #555;
}
.navigation ul {
  text-align: center;
  line-height: 1;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li.active a {
  color: #4178ac;
  border-bottom: 4px solid #4178ac;
}
.navigation ul li a {
  display: block;
  color: #555;
  padding: 18px 25px;
}
.navigation ul li a:hover {
  color: #4178ac;
  border-bottom: 4px solid #ddd;
}
.home #content {
  padding-top: 40px;
  text-align: center;
}
.home #content h1 {
  display: block;
  font-size: 46px;
}
.home #content h1 a {
  color: #444;
}
.home #content h1 a:hover {
  color: #4178ac;
  transition: color 0.5s ease-in;
}
.home #content h6 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 9px;
  padding-left: 9px;
  display: inline-block;
  color: #444;
}
.home #content h3 {
  font-size: 100px;
}
.home #content h3.alt {
  display: none;
}
.day #content {
  text-align: center;
  padding-top: 50px;
}
.day #content h2 {
  text-align: center;
  margin-bottom: -12px;
}
.day #content h2.alt {
  color: #fff;
}
.day #content .text {
  text-align: left;
  width: 580px;
  margin: 0 auto;
  padding: 25px 30px 0 30px;
  background: rgba(255, 255, 255, 0.7);
}
@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 14px;
    line-height: 22px;
    min-width: 0;
  }
  body.home {
    background: #222222 url(/images/bg-dark.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
  .navigation ul li {
    font-size: 14px;
  }
  .navigation ul li.active a {
    border-width: 3px;
  }
  .navigation ul li a {
    padding: 10px 20px;
  }
  .home #content {
    padding-top: 35px;
  }
  .home #content h1 {
    font-size: 28px;
    color: #fff;
  }
  .home #content h1 a {
    color: #fff;
  }
  .home #content h6 {
    font-size: 14px;
    padding: 0;
    letter-spacing: 1px;
    padding-top: 8px;
    color: #fff;
  }
  .home #content h3 {
    display: none;
  }
  .home #content h3.alt {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    color: #fff;
  }
  .day #content {
    padding-top: 25px;
  }
  .day #content h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .day #content .text {
    width: 100%;
    box-sizing: border-box;
  }
}
