//Shitty Reset

* {
  margin: 0;
  padding: 0;
}


//Colors & Vars
@blue: #4178ac;
@aqua: #477e8d;


//Web Fonts

.font_heading {
  font-family: "gotham_light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}

.font_primary {
  font-family: "museo_slab500", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
  font-weight: normal;
}


//Base

html {
  min-height: 100%;
  height: 100%;
  min-height: 100%;
  background: #eee;
}

body {
  height: 100%;
  .font_primary;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  min-width: 840px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.content-block {
  padding: 30px 0 30px 250px;

  &.callout {
    padding: 30px 125px;

    h1 {
      text-align: center;
      padding-bottom: 20px;
    }

    h2 {
      text-align: center;
      padding-bottom: 20px;
    }
  }

  &.flip {
    padding-right: 250px;
    padding-left: 0;
  }

  .dedent {
    float: left;
    margin-left: -250px;
    width: 220px;
  }

  &.flip .dedent {
    float: right;
    margin-right: -250px;
    margin-left: 0;
  }

  h3, h4 {
    padding: 10px 0 5px 0;
  }
}

.column {
  width: 450px;
  padding: 0 15px;
  float: left;

  &.short {
    width: 410px;
  }

  h3 {
    padding-bottom: 35px;
  }

  .indented {
    padding-left: 170px;

    h5 {
      float: left;
      margin-left: -170px;
      width: 150px;
    }
  }
}

.note {
  display: block;
  font-size: 14px;
  font-style: italic;
  padding-right: 15px;
  color: #777;
}

.navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 16px;
  background: rgba(255,255,255,.85);
}

#content {
  padding: 50px 0 35px 0;
}


//Typography

h1, h2, h3, h4, h5, h6 {
  .font_heading;
  line-height: 1.2;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;

  em {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    padding: 8px 0 0 0;
    color: @aqua;
  }
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  padding-bottom: 20px;
}


//Utilities

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


//Links

a {
  color: @blue;
  text-decoration: none;

  &:hover {
    color: #555;
  }
}


//Navigation

.navigation {
  ul {
    text-align: center;
    line-height: 1;

    li {
      display: inline-block;

      &.home {
        .font_heading;
        margin-right: 15px;
        padding-top: 16px;
        font-size: 26px;
        color: #333;
      }

      &.active {

        a {
          color: #4178ac;
          border-bottom: 4px solid @blue;
        }
      }

      a {
        display: block;
        color: #555;
        padding: 22px 25px 14px 25px;

        &:hover {
          color: @blue;
          border-bottom: 4px solid #aaa;
        }
      }
    }
  }
}


//Pages

// // Home

body.home #intro {
  background: #808d92 url(/images/bg-ice-cream.jpg) no-repeat 50% 0;
  background-size: cover;
  height: 500px;
}

body.home #story {
  background: #fff url(/images/layout/texture/light.png);
  background-size: 150px 150px;
  padding: 20px 0 30px 0;
  border-bottom: 5px solid #ddd;

  h1 {
    color: #617cad;
  }
}

body.home #content {
  background: #f4f4f4;
}

// // The Big Day

body.day #intro {
  background: #0a1f31 url(/images/bg.jpg) no-repeat 50% 20%;
  background-size: cover;
  height: 500px;

  &.blanc {
    background: #959ca8 url(/images/bg-blanc.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
}

body.day #content {
  padding: 0;
  background: #f4f4f4;

  h1 {
    text-align: center;
    color: #2f4a5f;
    padding-bottom: 35px;
  }

  .ceramony {
    padding: 50px 0 35px 0;
    background: #fff url(/images/layout/texture/light.png);
    background-size: 150px 150px;
  }

  .guest-information {
    padding: 50px 0;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    text-align: center;

    h2 {
      padding: 0 0 20px 0;
    }

    h5 {
      padding: 5px 0 12px 0;
    }
  }

  .party {
    clear: both;
    padding: 50px 0;
    background: #fff;

    .column {
      text-align: center;

      img {
        margin-bottom: 15px;
      }

      h4 {
        padding: 0 0 12px 0;
      }

      ul {
        padding-bottom: 35px;
      }

      ul li {
        list-style: none;

        &.highlight {
          padding-bottom: 12px;
        }

        strong {
          display: block;
          .font_heading;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}

// // Staying in Denver

body.denver #intro {
  background: #0a1f31 url(/images/bg-dark.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 500px;
}

body.denver #content {
  padding: 0;

  .stay {
    padding: 20px 0 0 0;
    background: #fff url(/images/layout/texture/light.png);
    background-size: 150px 150px;
  }

  .hotel {
    padding: 20px 0;
    background: #fff;

    &.curtis {
      background: #f4f4f4;
    }

    .dedent {
      span {
        display: block;
        font-size: 14px;
        .font_heading;
        text-transform: uppercase;
        font-weight: bold;
        color: #888;
      }

      a {
        display: block;
        padding-top: 5px;
        font-size: 14px;
      }
    }

    .pics {
      text-align: center;
      padding: 15px 0 30px 0;

      a img {
        cursor: zoom-in;
      }

      a.showing img {
        cursor: zoom-out;
      }
    }

    .request {
      float: right;
      font-style: italic;
      color: #777;
      padding: 10px 15px 0 0;
    }

    p .room {
      display: inline-block;
      width: 210px;
    }
  }
}










